/* CHARTS HTML PAGE */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Barlow', sans-serif;
    background-color: #202020e6 !important;

}

h1, h2, h3, h4, h5, h6, p{
    margin: 0 !important;
    padding: 0 !important;
}
p{
    font-size: 12px;
}

.emphasis-highlight{
    text-decoration: underline wavy #acacff !important;

}
.robot-highlight{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
}

.graph{
    width: 100%;
    height: 150px;
    background: linear-gradient(to right, #ffa200ab 0%, #ffdf60c4 100%);
    position: relative;
    overflow: hidden;

    transition: .5s;
}
/*index.html page*/
.sec-1{
    background: linear-gradient(180deg, #865f38, #5e2334, #0e002a);
   
    
}

li, a, button{
    font-size: 16px;
    color: rgb(158, 158, 158) !important;
    text-decoration: none !important;
    transition: .2s !important;
}
.sign-up{
    background-color: #0e002a00;
    border: 2px solid black;
    width: 100px;
    margin: 20px;
    padding: 5px 10px;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, #47C2FF 20%, #91A7FF 47%, #D6B3FF 84%)1;
}
.sign-up:hover{
    color: #fff !important;
    transform: scale(1.1);

}

header, nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}
.logo{
    cursor: pointer;
    color: #fff !important;
    font-size: 30px;
}
.logo-span{
    font-weight: 900;
    font-size: 40px;
    background: linear-gradient(to right, #47C2FF 20%, #91A7FF 47%, #D6B3FF 84%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-bar{
    width: 100%;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li{
    display: inline;
    padding: 0 20px;
}
nav ul li a:hover{
    color: #fff !important;
}

.fa-bars{
    font-size: 30px;
    visibility: hidden;
}

#typing-text-p{
    text-align: center;
    color: #fff;
}
/*Search Function*/

body {
    font-family: sans-serif;
    background-color: #111d4a;
}

* {
    box-sizing: border-box;
}
h1 {
    color: #eee;
    margin-bottom: 30px;
}
.coin-container {
    width: 70%;
    padding: 40px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: -1;
}

#coinsList {
    margin: 20px auto;
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.new-coin{
    min-width: 50px;
    transition: .1s;
}
.new-coin:hover{
    transform: scale(1.05);
    cursor: pointer;
    
}
.new-coin img{
    max-width: 30px;
    max-height: 30px;
    margin-right: 5px;
}
.new-coin button{
    border: none;
    background-color: rgba(0, 0, 0, 0);
}
.new-coin h3{
    font-size: 20px;
}
.new-coin h5{
    width: 100%;
    text-align: center;
    font-weight: 900;
}

.new-coin canvas{
    width: 50px;
}
#searchBar {
    width: 100%;
    min-width: 250px;
    height: 32px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid #eaeaea;
    padding: 25px 10px;
    margin-top: 20px;
    font-size: 18px;
}

#searchWrapper {

    position: relative;
}

.new-coin-price-info{
    width: 100%;
    display: flex;
    text-align: center;
}

.new-coin-info{
    width: 100%;
    margin: 0 auto;
    display: flex;
    margin-top: 10px;
    position: relative;
    align-items: center;
}
.fa-bookmark{
    border: none;
    color: #47C2FF;
    font-size: 20px;
    position: absolute;
    right: 0;
    margin-top: -10px;
    transition: .2s;
}

.fa-bookmark:hover{
    transform: scale(1.2);
    color: #111d4a;
}

.new-coin-graph-price-container{
    background-color: #606060;
    position: absolute;
    top: 0;
    padding: 0 10px;
    margin: 0 -5px;
    transform: skew(15deg, 0);
    font-weight: 900;
}



.modal-bg{
    width: 100%;
    height: 100vh;
    background-color: #ffffff32;
    backdrop-filter: blur(10px);
    position: fixed;
}
.coin-modal{
    width: 70%;
    max-height: 500px;
    background-color: #5f5f5f;
    position: fixed;
    top: 50%;
    left: 50%;
    /*display: none;*/
    overflow-y:auto;
    transform: translate(-50%, -50%);
    border: 8px solid rgb(233, 233, 233);
    box-shadow: rgba(0, 0, 0, 0.64) 0px 3px 8px;
    border-image: linear-gradient(45deg, turquoise, greenyellow) 1;
    color: #fff !important;
    z-index: 1;
    overflow: auto;


}

.exit-btn{
    width: 70px;
    height: 50px;
    background-color: rgb(255, 119, 119);
    top: 0;
    right: 0;
}

h1,.coin-modal h2{
    color: #fff !important;
}

.coin-modal.active{
    display: block;
}

.modal-header{
    width: 100%;
    height: 50px;
    border-radius: 0;
    padding: 0 !important;
}
.modal-header h1{
    padding: 16px !important;
}

button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.fa-xmark{
    color: #fff !important;
    font-weight: 900;
    font-size: 30px;

}

.modal-body{
    width: 100%;
    padding: 10px;
}

.modal-body h1, h2{
    color: #000 !important;
    font-weight: 900;
}
.modal-coin-graph{
    width: 100%;
    height: 200px;
    background-color: #47C2FF;
}

.coin-content-holder{
    margin: 10px 0;
    text-align: center;
}

.ticker{
    font-size: 20px;
}


.coin-news{
    background-color: #17ffa2;
    padding: 10px;
    margin: 10px !important;
    min-width: 200px;
}


.last-updated{
    text-align: center;
}

@media screen and (max-width: 905px) {
    .nav-bar{
        display: none;
    }
    nav{
        padding: 0 !important;
    }
    .fa-bars{
        visibility: visible;
    }
    

}











/*Blog Page*/

.heading-info{
    text-align: center;
    color: #fff;
    font-weight: 900;
    margin-bottom: 20px;
}

.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 !important;
}
.featured-articles{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.main-article{
    width: 100%;
    background-color: #212121;
    padding: 15px;
    height: fit-content;
    color: #fff !important;
    border: 7px solid #fff;
}
.main-article > *{
    padding-top: 10px;
}
.featured-article-title{
    margin-top: 10px !important;
    font-size: 25px;
}
.featured-article-image{
    margin: 0 auto;
    display: block;
    border: 7px solid #fff !important;
}

.featured-article-desc{
    margin: 10px 0 !important;
}
.suggested-articles{
    width: 100%;
    background-color: #212121;
    border: 7px solid #fff !important;
    padding: 10px;
    color: #fff;
}


.all-articles{
    color: #fff;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.header{
    width: 100%;
    margin-top: 10px !important;
    font-size: 20px;
}
.article-inner{
    width: 100%;
    padding: 15px;
    min-height: 200px;
    margin: 20px 0;
    background-color: #212121;
    border: 7px solid #fff !important;
    font-size: 20px !important;
}

.article-image{
    width: 100%;
    height: 150px;
    background: linear-gradient(to right, #ffa200ab 0%, #ffdf60c4 100%);
    transition: .5s;
    margin-bottom: 20px;
}

.featured-article-btn{
    padding: 5px 10px;
    margin-top: 10px;
    color: #000 !important;
    border: none;
}

.read-more-article-btn{
    margin-top: 20px;
    padding: 5px 10px;
    border: none;
    color: #000 !important;
}

.new-suggested-box{
    transition: .2s;
    border: 3px solid #fff;
}
.new-suggested-box:hover{
    background-color: rgb(81, 81, 81) !important;
    cursor: pointer;
    transform: scale(1.01);
}
/************















FAQ Page





*/


section{
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff !important;
}

.title{
    font-size: 3rem;
    margin: 2rem 0;
}

.faq{
    max-width: 700px;
    margin-top: 2rem;
    padding: 1rem;
    border: 5px solid #fff;
    cursor: pointer;
    box-shadow: 5px 5px rgb(255, 114, 114);
    transition: .5s;

}

.faq.active{
    box-shadow: -5px -5px rgb(137, 208, 255) !important;
}

.faq:hover{
    transform: translateY(-5px) scale(1.05);

    box-shadow: -5px -5px rgb(137, 208, 255);
    
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.faq.active h5{
    border-bottom: 3px solid #47C2FF;
}


.fa-angle-down{
    color: #fff !important;
    font-size: 25px;
    transition: .5s ease;
}

.faq.active .fa-angle-down{
    transform: rotate(180deg);
    
}
.answer{
    max-height: 0;
    overflow: hidden;
    
    transition: max-height .8s ease ;
}
.answer p{
    border-left: 5px solid #17ffa2;
    line-height: 10px;
    padding: 0 !important;
    padding-left: 10px !important;
    margin: 0 !important;


}
.answer p{
    padding-top: 1rem;
    line-height: 1.6;
}

.faq.active .answer{
    max-height: 300px;
}

.container{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.menu{
    width: 60%;
    height: 40px;
    background-color: #3E5264;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    position: relative;
}
.menu::after{
    content: '';
    position: absolute;
    background-image: url(./arrow-down-sign-to-navigate.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    right: 15px;
    z-index: 50;
    width: 18px;
    height: 18px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.menu.menu-open::after{
    transform: rotate(180deg);
}
.menu-content{
    width: 60%;
    max-height: 0;
    overflow: hidden;
    text-align: justify;
    margin: 10px;
    padding-right: 10px;
    padding-left: 5px;
    border-left: 3px solid  #596c7d;
    transition: max-height .2s linear;
    font-size: 17px;
}

@media (max-width: 968px){
    .menu{
        width: 90%;
    }
    .menu-content{
        width: 90%;
    }

}

#user-welcome {
    color: #fff;
}

.dashboard-section{
    width: 100%;
}


.small-cards{
    background-color: #c3c3c3;
    margin: 20px auto;
    border-radius: 7px;
    padding: 5px 0;
    display: flex;
    align-items: center;
}
.small-cards h3{
    font-weight: 900 !important;
    font-family: 'Courier New', Courier, monospace
}

.card-image{
    height: 75px;
    width: 75px;
    border: none !important;
    cursor: pointer;
    border-radius: 10px;
}


.fa-vault{
    font-size: 25px;
    color: #000 !important;
   
}

.portfolio-content{
    padding-left: 10px;
}

.portfolio-content p{
    text-decoration: 5px dotted;
}
.assets-held{
    margin-bottom: 5px !important;
    font-size: 15px;
}
.highlight-span{
    background-color: #17ffa2b8;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 20px;
}
.highlight-span-2{
    color: #17ffa2 ;
}
.portfolio-graph{
    background-color: rgb(123, 123, 123);
    border-radius: 20px;
    padding: 20px;
}

.graph-controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.large-graph{
    width: 100%;
    height: 300px;
    background: linear-gradient(to right, #949fff 50%, #60e4ffc4 100%);
    margin-top: 10px;
}
.dashboard-section-2 h3{
    margin-bottom: 20px !important;
    font-size: 30px 0 !important;
    font-weight: 900;
    color: #fff;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #505050;
    color: #fff;
    margin-bottom: 10px;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.coin-row{
    cursor: pointer;
    transition: .3s;
}
tr:nth-child(even) {
    background-color: #737373;
}
.coin-row:hover{
    background-color: #b6b9ff;
}


.details h3{
    padding: 0 !important;
    margin: 0 !important;
}


@media (max-width: 991px){
    .extra{
        display: none;
    }
    .suggested-articles{
        display: none;
    }
}


@media (max-width: 350px){
    .highlight-span{
        display: none;
    }
    p{
        font-size: 10px;
    }
    .dashboard-section-2{
        margin: 20px 0 !important;
       
    }
    .dashboard-section-2 h3{
        margin-bottom: 0 !important;
        padding: 10px 0 !important;

    }
    h3{
        font-size: 5vw !important;
    }
    .new-coin, #searchBar{
        margin-left: -50px;
    }
    
}

@media (max-width: 330px){
    .coin-content-holder{
        width: 100%;
        text-align: center;
        margin: 15px auto;
    }

    .coin-content .row{
        display: block;
    }
    
}